{% extends "base.html" %} {% block content %}

<div class="container"><img src="../static/bgd.jpg" id="right"></div>
<!-- <div class="wrapper"> -->
<div class="heading">
    PLANT DISEASE DETECTOR</div>
<div class="text">

<div class="inner">
    
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <div class="imgbox"><img src="../static/img.png" class="img" id="selected_image"/> 
        <div class="middle">
            <label for="imageUpload" id="upload-label">Select Image</label> 
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg"></div>
       </div>
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <h3 id="result">
        
        <span> 
        <div></div>  
        </span>
        
    </h3>
    <p id="about">
        <span>
            <div></div>
            
        </span>
    </p>
    <p class="rules">
        <img id="icon" src="../static/app_icon.png">
        <div id="gtext">SELECT IMAGE AND GET IMMEDIATE RESULTS!</div>
    </p>
</div>
<div>
    <table class="styled-table">
        <thead>
            <tr>
                <th colspan="12" style="font-size: 1.85em;  border-bottom: 2px solid #dddddd;">Supported Diseases</th>
            </tr>
            <tr>
                <th>Name</th>
                <th colspan="11">Class Names</th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td>Pepper Bell</td>
            <td>Bacterial spot, Healthy</td>
            </tr>
            <tr>
                <td>Potato</td>
            <td>Early Blight, Late Blight, Healthy</td>
            </tr>
            <tr>
                <td>Tomato</td>
            <td>Bacterial spot, Earlyblight, Late blight, Leaf Mold, Septoria leaf spot, Spider mites, Target Spot, Yellow Leaf Curl Virus, Mosaic virus, Healthy</td>
            </tr>
            
        </tbody>
    </table>
</div>


{% endblock %}